<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<configSections>
		<section name="system.diagnostics" type="System.Diagnostics.DiagnosticsConfigurationHandler"/>
	</configSections>
	<appSettings>
		<add key="sourceDirectory" value="C:\path\to\your\ACReplay\folder\"/>
		<add key="destinationDirectory" value="C:\path\to\desired\destination\folder\"/>
	</appSettings>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="AC_Replay_Mover.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
